<div class="header">
  <div class="lorem">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem cum doloremque ea libero quam, reiciendis
      rerum veritatis. Eos nam sequi totam.</p>
    <p id="strong-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem cum doloremque ea libero quam, reiciendis
      rerum veritatis. Eos nam sequi totam.</p>
  </div>

  <div class="title-info">
    <div class="title">
      <div id="title-text">
        <h1>BRAIN. D</h1><h1 id="surname">PATERSON</h1>
        <p>Graphic & Web Designer</p>
      </div>
    </div>
    <div class="contact-info">


      @for (item of [
        {icon:"Phone.png", text:"+1-718-310-5588" },
        {icon:"Web.png", text:"yourwebsite.com" },
        {icon:"Location.png", text:"769 Prudence Street Lincoln, Park, MI 48146" },

      ]; track item.icon
        ){
        <app-contact-item [icon]="item.icon" [text]="item.text"></app-contact-item>
      }
    </div>
  </div>
</div>
