<div class="main-info">
  <section class="experience">

    <div class="mini-icon-box">
      <div class="mini-icon-heading">
        <img class="icon" src="Job.png" alt="Mobile Number">
      </div>
      <h1>JOB EXPERIENCE</h1>
    </div>

    <hr>

    <app-experience-item year="2021 - Present" company="Creative Agency" city="Chicago" position="SENIOR WEB DESIGNER"></app-experience-item>
    <app-experience-item year="2018 - 2021" company="Creative Market" city="United Kingdom" position="GRAPHIC DESIGNER"></app-experience-item>
    <app-experience-item year="2015 - 2018" company="Marketing Agency" city="United Kingdom" position="MARKETING MANAGER"></app-experience-item>
    <app-experience-item year="2013 - 2015" company="Creative Agency" city="Chicago" position="JUNIO WEB DESIGNER"></app-experience-item>
  </section>

  <div class="knowledge">
    <section class="skills-hobbies">
      <div class="mini-icon-box">
        <div class="mini-icon-heading">
          <img class="icon" src="Graphic.png" alt="Mobile Number">
        </div>
        <h1>SKILLS</h1>
      </div>
      <hr>
      <ul class="progress-section" id="skills-section">
        <app-skill name="Adobe Photoshop" [progress]="85"></app-skill>
        <app-skill name="Adobe Illustrator" [progress]="40"></app-skill>
        <app-skill name="Microsoft Word" [progress]="60"></app-skill>
        <app-skill name="Microsoft Powerpoint" [progress]="60"></app-skill>
        <app-skill name="HTML-5/CSS-3" [progress]="85"></app-skill>
      </ul>
    </section>

    <section class="skills-hobbies">
      <div class="mini-icon-box">
        <div class="mini-icon-heading">
          <img class="icon" src="Flag.png" alt="Mobile Number">
        </div>
        <h1>HOBBIES</h1>
      </div>
      <hr>
      <ul class="progress-section" id="hobbies-section">
        <app-skill name="Book Reading" [progress]="85"></app-skill>
        <app-skill name="Travelling" [progress]="40"></app-skill>
        <app-skill name="Playing chess" [progress]="60"></app-skill>
        <app-skill name="Graphic Design" [progress]="60"></app-skill>
        <app-skill name="Painting" [progress]="85"></app-skill>
      </ul>
    </section>
  </div>

</div>
