<div class="main-info">
  <section class="experience">

    <div class="mini-icon-box">
      <div class="mini-icon-heading">
        <img class="icon" src="Job.png" alt="Mobile Number">
      </div>
      <h1>JOB EXPERIENCE</h1>
    </div>

    <hr>

    @for (item of jobs; track item.year){
      <app-experience-item [year]="item.year" [company]="item.company" [city]="item.city" [position]="item.position" [className]="item.className"></app-experience-item>
    }

  </section>

  <div class="knowledge">
    <section class="skills-hobbies">
      <div class="mini-icon-box">
        <div class="mini-icon-heading">
          <img class="icon" src="Graphic.png" alt="Mobile Number">
        </div>
        <h1>SKILLS</h1>
      </div>
      <hr>
      <ul class="progress-section" id="skills-section">

        @for (item of skills; track item.name){
          <app-skill [name]="item.name" [progress]="item.progress" [className]="item.className"></app-skill>
        }

      </ul>
    </section>

    <section class="skills-hobbies">
      <div class="mini-icon-box">
        <div class="mini-icon-heading">
          <img class="icon" src="Flag.png" alt="Mobile Number">
        </div>
        <h1>HOBBIES</h1>
      </div>
      <hr>
      <ul class="progress-section" id="hobbies-section">

        @for (item of hobbies; track item.name){
          <app-skill [name]="item.name" [progress]="item.progress" [className]="item.className"></app-skill>
        }

      </ul>
    </section>
  </div>

</div>
