<div class="sidebar">
  <section class="profile-image">
    <img class="face" src="face.jpg" alt="Profile Image">
  </section>

  <section class="education">
    <div class="mini-icon-box">
      <div class="mini-icon-heading">
        <img class="icon" src="Study.png" alt="Mobile Number">
      </div>
      <h1>EDUCATION</h1>
    </div>
    <hr>
    @for (item of education; track item.year){
      <app-experience-item [year]="item.year" [university]="item.university" [degree]="item.degree" [className]="item.className" [description]="item.description"></app-experience-item>
    }
  </section>

  <section class="references">
    <div class="mini-icon-box">
      <div class="mini-icon-heading">
        <img class="icon" src="Ppl.png" alt="Mobile Number">
      </div>
      <h1>REFERENCES</h1>
    </div>
    <hr>
    @for (item of reference; track item.name){
      <app-reference [name]="item.name" [address]="item.address" [phone]="item.phone" [email]="item.email"></app-reference>
    }
  </section>


  <section class="languages">
    <div class="mini-icon-box">
      <div class="mini-icon-heading">
        <img class="icon" src="Globe.png" alt="Mobile Number">
      </div>
      <h1>LANGUAGES</h1>
    </div>
    <hr>
    <ul>
      @for (item of languages; track item.name){
        <app-skill [name]="item.name" [progress]="item.progress" [className]="item.className"></app-skill>
      }
    </ul>
  </section>
</div>
